/* BANNER */

.homeBaner {
  background-color: var(--main-bg);
  padding: 0 5rem;
  height: 37rem;
}

.bannerP1 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--third-color);
  margin-top: 2rem;
}

.bannerText h1 {
  font-size: 2rem;
  font-weight: 600; 
  margin-top: 2rem; 
}

.bannerP2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 2rem;    
}

.bannerP3 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 2rem;    
}

.bannerP3 span{
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 2rem;    
}

.bannerBtns {
  padding: 0 2rem;
  justify-content: space-around;
}

.bannerBtns button {
  height: 4rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  border: 1px solid var(--third-color);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.bannerBtn1 {
  background-color: var(--second-bg);
  color: var(--second-color);
}
.bannerBtn2 {
  background-color: transparent;
  color: var(--third-color);
}

.bannerBtns button:hover {
  background-color: white;
  color: var(--second-color);
}

.bannerImg {
  justify-content: end;
  text-align: end !important;
}

.celphoneImg {
  height: 600px;
  object-fit: contain;
}

/* FUELLE */

.airDiv {  
  padding: 0 30vW;
  height: 37rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.airH2 {
  color: var(--second-color);
  font-size: 1.8rem;
}

.airH2 span {
  color: #EAEAEA;
  text-shadow: -1px -1px 0 #1b6442, 1px -1px 0 #1b6442, -1px 1px 0 #1b6442, 1px 1px 0 #1b6442;
  font-size: 2.2rem;
}

.airP {
  color: #6BA62C;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
}

/* ABOUT */

.aboutDiv {
  background-color: var(--main-bg);
  padding: 0 5rem;
  height: 37rem;
  align-content: center;
}

.aboutText {
  padding-right: 2rem;
  height: 100%;  
  align-content: center;
}

.aboutH3 {
  font-size: 3rem;
  line-height: 3rem;  
  font-weight: 300;
}

.aboutP {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 200;    
}

.aboutNumbersContainer {  
  height: 100%;
  padding: 2rem;
}

.aboutNumbers{
  background-color: #0D4429;
  height: 100%;
  border-radius: 1rem;
  text-align: center;
  align-content: space-around;
}

.aboutNumbers h3{
 font-size: 5rem;
 font-weight: 200;
}

.aboutClientes, .aboutProyectos {
  border-right: 1px solid var(--main-color);
}

/* METHODOLOGY */

.methodologyContainer {
  padding: 0 5rem;
  height: auto;
  align-content: space-between;
}

.mthBtns {
  margin-top: 1rem;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 1px dashed black;
}

.mthBtn  {
  border: transparent 1px solid;
  width: auto;
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--second-color);
  transition: all 0.5s ease-in-out;
}

.mthBtn:hover  {
  border: var(--second-color) 1px solid;
  
}

/* CONTENT */
#contentContainer {
  transition: all 0.5s ease-in-out;
}

.contentContainer {
  padding: 2rem 10rem;
  text-align: center;
  color: black;  
}

.contentP {
  margin-top: 0;
  color: black;
  font-size: 1.2rem;
}

.contentP span {
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
}

.contentImg {
  width: 100%;
  margin-top: 5rem;
}



