.bannerLanding {
    background-color: var(--main-bg);
    padding: 0 7rem;
    height: 25rem;
    align-content: center;
  }

  .bannerLanding h1 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }

  .bannerLanding h1 span {
    color: var(--second-color);
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
  
  .bannerLanding p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }