#header {
    background-color: var(--main-bg);
    align-content: center;
    min-height: 5rem;
    transition: all 0.5s ease-in-out; 
    position: sticky;
    top: 0;
  }
  
  .headerLogo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .hamburger{
    position: absolute;
    top: 3.3rem;
    left: 0;
    filter: invert(100%) sepia(77%) saturate(1%) hue-rotate(51deg) brightness(106%) contrast(101%);
  }
  
  .navbar {  
    transition: all 0.3s ease-in-out;
  }
  
  .navItem {
    padding: 0.25rem 0.95rem;
    font-size: 1.15rem;
    border: 1px solid transparent;
    border-radius: 8px;
  }
  .navItem:hover {
    border: 1px solid var(--third-color);
    color: var(--third-color) !important;
    transition: all 0.5s;
  }
  
  .active {
    color: var(--third-color) !important;
  }
  
  
  @media screen and (max-width: 576px) {
    .navbar {
      flex-direction: column; 
      position: absolute;    
      top: 4.8rem;
      left: 0;
      background-color: var(--main-bg);
    }
    .headerLogo {
      position: absolute;
      top: 1rem;
      left: 0;
    }
    
  }