#footer {
    background-image: url("../../assets/footerBg-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding-top: 175px;
    padding-bottom: 1rem;
  }
  .info {
    font-size: 20px;
    font-weight: 300;
  }
  .footerLogo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }