#whatsapp {
    width: 0px;
    height: 0px;
}

.webinarLanding {
    padding: 0 7rem;
    min-height: 35rem;
    max-height: 60vh;
    height: 100%;
    align-content: space-evenly;
    text-align: center;
}

.webinarLanding h2{
    color: var(--second-color);
    font-size: 2.5rem;
    font-weight: bold;
}

.webinarLanding div p {
    padding: 0 3rem;
    color: var(--second-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.webinarLanding div p span {
    color: var(--second-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.webinarLanding h3 {
    color: var(--fifth-color);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

@media screen and (max-width: 767px) {
    .webinarLanding {
        padding: 2rem 1.5rem;
        max-height: none;
    } 

    .webinarLanding h2{
        font-size: 1.8rem;
    }

    .webinarLanding div p {
        padding: 1rem 0rem;
        font-size: 1.2rem;
    }

    .webinarLanding div p span {
        font-size: 1.2rem;
    }

    .webinarLanding h3 {
        font-size: 1.2rem;
    }
}